@{
    ViewBag.Title = "Ненавязчивый AJAX";
}

<div class="container">
    <div class="row">
        
        <div class="col-md-4">
            <h4>Рендринг на стороне сервера</h4>
            
            <a class="btn btn-default">
                Загрузка
            </a>
            
            <span id="spinner-server" style="display: none">
                <i class="fa fa-spinner fa-spin"></i>
            </span>

            <div id="panel-server"></div>
        </div>

        <div class="col-md-4">
            <h4>Рендринг на стороне клиента</h4>

            <a class="btn btn-default">
                Загрузка
            </a>

            <span id="spinner-client" style="display: none">
                <i class="fa fa-spinner fa-spin"></i>
            </span>

            <div id="panel-client"></div>

        </div>

        <div class="col-md-4">
            <h4>Рендринг руками</h4>

            <a class="btn btn-default">
                Загрузка
            </a>

            <div id="panel-js"></div>
        </div>

    </div>
</div>