@using WebStore.Services.Interfaces
@using WebStore.Infrastructure.Mapping
@inject IProductData ProductData

<partial name="Partial/_Slider"/>

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <partial name="Partial/_LeftSideBar"/>
            </div>

            <div class="col-sm-9 padding-right">
                <partial name="Partial/_Products" model="ProductData.GetProducts().Take(6).ToView()"/>

                <partial name="Partial/_CategoryTab"/>

                <partial name="Partial/_RecomendedItems"/>
            </div>
        </div>
    </div>
</section>