<div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
</div>
<div class="mainmenu pull-left">
    <ul class="nav navbar-nav collapse navbar-collapse">
        <li><a href="/" class="active">Home</a></li>
        <li class="dropdown">
            <a href="#">Магазин<i class="fa fa-angle-down"></i></a>
            <ul role="menu" class="sub-menu">
                <li><NavLink href="/catalog">Каталог</NavLink></li>
            </ul>
        </li>

        <li><NavLink href="/contacts">Контакты</NavLink></li>
        <li><NavLink href="/about">О программе</NavLink></li>
    </ul>
</div>