@using WebStore.BlazorUI.Models
<div class="col-sm-4">
    <div class="product-image-wrapper">
        <div class="single-products">
            <div class="productinfo text-center">
                <img src="images/shop/@Product.Image" alt="" />
                <h2>@Product.Price.ToString("C")</h2>
                <p>@Product.Title</p>
                <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>В корзину</a>
            </div>
            <div class="product-overlay">
                <div class="overlay-content">
                    <h2>@Product.Price.ToString("C")</h2>
                    <p>@Product.Title</p>
                    <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>В корзину</a>
                </div>
            </div>
        </div>
        <div class="choose">
            <ul class="nav nav-pills nav-justified">
                <li><a href="#"><i class="fa fa-plus-square"></i>Добавить в желания</a></li>
                <li><a href="#"><i class="fa fa-plus-square"></i>Добавить к сравнению</a></li>
            </ul>
        </div>
    </div>
</div>

@code
{
    [Parameter]
    public ProductInfo Product { get; set; }
}
