<nav class="navbar-default navbar-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="main-menu">

            <li class="active-link">
                <a asp-controller="Home" asp-action="Index">
                    <i class="fa fa-desktop "></i>Обзор <span class="badge">Included</span>
                </a>
            </li>
            <li class="active-link">
                <a asp-controller="Products" asp-action="Index">
                    <i class="fa fa-desktop "></i>Товары <span class="badge">Included</span>
                </a>
            </li>

        </ul>
    </div>

</nav>
<!-- /. NAV SIDE  -->