<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

    <h3>Заголовок</h3>
    <p>Привет из представления</p>

</body>
</html>
